p {font-family: "product-sans", sans-serif;
font-size: 20px}

h1 {font-family: sans-serif;
   text-align: center;
   color: white;
   font-size: 60px;}

h2 {text-align: center;
    }

ul {color: white;
    font-size: 30px;
    font-weight: 700}

img {opacity: 0.8;}
